<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% for m in app.flashes('success') %}               <!-- Bucle para mostrar un mensaje al usuario de que sus datos se han enviado correctamente. 'success' es el nombre del mensaje creado previamente en el conrtrolador OfferController.php -->
            <p>{{ m }}</p>                                  <!-- 'm' es lo que vale el mensaje de 'success'. itera el bucle for por cada mensaje 'm' -->
        {% endfor %}
            <table>                                         <!-- Mostrar en una tabla las ofertas disponibles -->
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offer in offers %}                   <!-- Hacer un bucle for de twig recorriendo las ofertas (offers, en el controlador OfferController.php). por cada oferta se crea una variable 'offer' (en el twig) -->
                        <tr>
                            <td>{{ offer.company }} <!-- {{ offer.company.name }} --></td>              <!-- en la entidad 'Company.php' se ha creado una funcion toString para obtener el nombre de la compañía (sin función, se escribe .company.name). de lo contrario da error -->
                            <td>{{ offer.title }}</td>
                            <td><a href="{{ path('app_apply', { id: offer.id }) }}">Apply</a></td>              <!-- en href='/offer/apply?offerId={{'offer.id'}}' añadimos un enlace redirigiendo al template 'apply.html.twig' pasando como parámetro el id de la oferta -->
                        </tr>                                                                           <!-- MODIFICACIÓN MÁS PRÁCTICA. linea 32: 'url()' o 'path()', es una funcion auxiliar de twig que permite crear una url en base a una ruta de la aplicación. se escribe el PLACEHOLDER de 'apply'(app_apply), el segundo parametro de url() es el parámetro a enviar por la url, que se llama 'id' y vale el 'id' de la oferta. en resumen: una alternativa al comentario de la linea 29 -->
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </body>
</html>
